<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background-color:transparent">
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/">Insert<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="/list-note">List Notes</a>
    </div>
  </div>
</nav>