*{
    margin:0;
    padding:0;
  }
  body{
    font-family:arial,sans-serif;
    font-size:100%;
    background:#666;
    color:#fff;
  }
  h2,p{
    font-size:100%;
    font-weight:normal;
  }
  ul,li{
    list-style:none;
  }
  ul{
    overflow:hidden;
    padding:3em;
  }
  ul li a{
    text-decoration:none;
    color:#000;
    background:#ffc;
    display:block;
    height:10em;
    width:10em;
    padding:1em;
    -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
    -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    -moz-transition:-moz-transform .15s linear;
    -o-transition:-o-transform .15s linear;
    -webkit-transition:-webkit-transform .15s linear;
  }
  ul li{
    margin:1em;
    float:left;
  }
  ul li h2{
    font-size:140%;
    font-weight:bold;
    padding-bottom:10px;
  }
  ul li p{
    font-family:"Reenie Beanie",arial,sans-serif;
    font-size:180%;
  }
  ul li a{
    -webkit-transform: rotate(-6deg);
    -o-transform: rotate(-6deg);
    -moz-transform:rotate(-6deg);
  }
  ul li:nth-child(even) a{
    -o-transform:rotate(4deg);
    -webkit-transform:rotate(4deg);
    -moz-transform:rotate(4deg);
    position:relative;
    top:5px;
    background:#cfc;
  }
  ul li:nth-child(3n) a{
    -o-transform:rotate(-3deg);
    -webkit-transform:rotate(-3deg);
    -moz-transform:rotate(-3deg);
    position:relative;
    top:-5px;
    background:#ccf;
  }
  ul li:nth-child(5n) a{
    -o-transform:rotate(5deg);
    -webkit-transform:rotate(5deg);
    -moz-transform:rotate(5deg);
    position:relative;
    top:-10px;
  }
  ul li a:hover,ul li a:focus{
    box-shadow:10px 10px 7px rgba(0,0,0,.7);
    -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
    -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -o-transform: scale(1.25);
    position:relative;
    z-index:5;
  }
  ol{text-align:center;}
  ol li{display:inline;padding-right:1em;}
  ol li a{color:#fff;}

  /* CSS of menu */

/* Page */

.container {
  position: absolute;
  top: 10%;
  left: 80%;
  /* margin-right: -50%; */
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.more-menu {
  width: 100px;
}

/* More Button / Dropdown Menu */

.more-btn,
.more-menu-btn {
  background: none;
  border: 0 none;
  line-height: normal;
  overflow: visible;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  width: 100%;
  text-align: left;
  outline: none;
  cursor: pointer;
}

.more-dot {
  background-color: #aab8c2;
  margin: 0 auto;
  display: inline-block;
  width: 7px;
  height: 7px;
  margin-right: 1px;
  border-radius: 50%;
  transition: background-color 0.3s;
}

.more-menu {
  position: absolute;
  top: 100%;
  z-index: 900;
  float: left;
  padding: 10px 0;
  margin-top: 9px;
  background-color: #fff;
  border: 1px solid #ccd8e0;
  border-radius: 4px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.25);
  opacity: 0;
  -webkit-transform: translate(0, 15px) scale(.95);
  transform: translate(0, 15px) scale(.95);
  transition: transform 0.1s ease-out, opacity 0.1s ease-out;
  pointer-events: none;
}

.more-menu-caret {
  position: absolute;
  top: -10px;
  left: 12px;
  width: 18px;
  height: 10px;
  float: left;
  overflow: hidden;
}

.more-menu-caret-outer,
.more-menu-caret-inner {
  position: absolute;
  display: inline-block;
  margin-left: -1px;
  font-size: 0;
  line-height: 1;
}

.more-menu-caret-outer {
  border-bottom: 10px solid #c1d0da;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  height: auto;
  left: 0;
  top: 0;
  width: auto;    
}

.more-menu-caret-inner {
  top: 1px;
  left: 1px;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 9px solid #fff;
}

.more-menu-items {
  margin: 0;
  list-style: none;
  padding: 0;
}

.more-menu-item {
  display: block;
}

.more-menu-btn {
  min-width: 100%;
  color: #66757f;
  cursor: pointer;
  display: block;
  font-size: 13px;
  line-height: 18px;
  padding: 5px -1px;
  position: relative;
  white-space: nowrap;
}

.more-menu-item:hover {
  background-color: #489fe5;
}

.more-menu-item:hover .more-menu-btn {
  color: #fff;
}

.more-btn:hover .more-dot,
.show-more-menu .more-dot {
  background-color: #516471;
}

.show-more-menu .more-menu {
  opacity: 1;
  -webkit-transform: translate(0, 0) scale(1);
  transform: translate(0, 0) scale(1);
  pointer-events: auto;
}